<footer class="page-footer">
  <div class="container" style="width:97%">
    <div class="row">
      <div class="col l6 s6">
        <h5 class="white-text">Our Mission</h5>
        <p class="grey-text text-lighten-4">Wish.IO bridges the gap between sellers and consumers on the Internet in order to improve the efficiency of online shopping for businesses and consumers.
        At the core of Wish.IO, we value the user experience, our reputation as an ethical and responsibly company, and the notion that all parties benefit when an idea is implemented effectively.
      We strive to create a minimal ecosystem for our customers that is free of unnecessary elements that distract from the central purpose of the applications.</p>
      </div>
      <div class="col l4 offset-l2 s6">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Blog</a></li>
          <li><a class="grey-text text-lighten-3" href="about">About</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Pricing</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
          <li><a href="/users/sign_in" class="grey-text text-lighten-3" href="#!">Log In</a></li>
          <li><a href="/users/sign_up" class="grey-text text-lighten-3" href="#!">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container" style="width:97%">
    © 2016 Wish.IO
    <a href="" style="color:#FFFFFF; margin-left:20px"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
    <a href="" style="color:#FFFFFF; margin-left:10px"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
    <a href="" style="color:#FFFFFF; margin-left:10px"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
    <a href="" style="color:#FFFFFF; margin-left:10px"><i class="fa fa-dribbble fa-lg" aria-hidden="true"></i></a>
    <a href="" style="color:#FFFFFF; margin-left:10px"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>
