<header>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo" href="/" style="margin-left:15px;margin-top:7.5px"><%= image_tag("TextLogo2.png", height: "50") %></a>
      <ul class="left hide-on-med-and-down">


      </ul>

      <ul class="right ">
<li><a href="#">Blog</a></li>
        <li><a href="about">About</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Contact Us</a></li>
        <%= link_to "Log In", new_user_session_path%><!--
        <%= link_to "Sign Up", new_user_registration_path%> -->

      </ul>
    </div>
  </nav>
</div>
</header>
