<%= render 'menu' %>
<div style="width:100%" class="parallax-container">
  <h2 class="header" style="color:#FFFFFF; text-align: center; margin-top:7.5%">About Us</i></h2>
  <h5 class="header" style="color:#FFFFFF; text-align: center; margin-top:5.5%">At Wish.IO, we are dedicated to creating the optimal online shopping user experience.</h5>
  <div class="parallax" style="width:103%">
 <%= image_tag("Bird4.jpg", width: "1440") %>


  </div>
</div>
<div class="section white">
  <div class="row container">

<br><br>

<div class="row" style="width:90%; margin: 0 auto">
 <div class="col s6 m6 l6">
   <div class="card sticky-action" style="height:100%">
    <div class="card-image waves-effect waves-block waves-light" style="height:400px">
      <img class="activator" src="assets/Tristan.jpg" style="margin-top:-100px">
    </div>
    <div class="card-content">
     <span class="card-title activator grey-text text-darken-4"><h5>Tristan Craig</h5><i class="material-icons right">more_vert</i></span>
      <p>Harvard University Class of 20</p>
    </div>
    <div class="card-action">
      <a href="https://www.facebook.com/tristanfcraig" style="color:#000000"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/tristanfcraig/" style="color:#000000"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
      <a href="https://twitter.com/tristanfcraig" style="color:#000000"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
      <a href="" style="color:#000000"><i class="fa fa-snapchat-ghost fa-lg" aria-hidden="true"></i></a>
      <a href="" style="color:#000000"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>        </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Tristan Craig<i class="material-icons right">close</i></span><br>
      <p>
        Tristan has lived his entire life in Cypress, TX. He attended The John Cooper School and graduated in 2016.
        His favorite moment in high school was participating in Code Wars with Omar. Tristan is currently a student at Harvard University and plans
        to double major in Mechanical Engineering and Economics. His hobbies include soccer, basketball, music, and photography.<br><br><br>
        <i>It seems like blessings keep falling in my lap.</i><br>-Chance The Rapper </p>
    </div>
  </div>
 </div>
 <div class="col s6 m6 l6">
   <div class="card sticky-action" style="height:100%">
    <div class="card-image waves-effect waves-block waves-light" style="height:400px">
      <img class="activator" src="assets/Omar.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><h5>Omar Jamil</h5><i class="material-icons right">more_vert</i></span>
      <p>University of Texas, Austin Class of 20</p>
    </div>
    <div class="card-action">
          <a href="https://www.facebook.com/omar.jamil.75" style="color:#000000"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
          <a href="" style="color:#000000"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
          <a href="" style="color:#000000"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
          <a href="" style="color:#000000"><i class="fa fa-snapchat-ghost fa-lg" aria-hidden="true"></i></a>
          <a href="" style="color:#000000"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>


        </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Omar Jamil<i class="material-icons right">close</i></span>
      <p>Omar Graduated from The John Cooper School in 2016. Omar's favorite moment in high school was INSERT MOMENT. Omar is currently a student at the University of Texas, Austin.</p>
    </div>
  </div>
 </div>
</div>

</div>
</div>

<%= render 'footer' %>
