
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <ul class="left hide-on-med-and-down">
      <a href="#!" class="brand-logo">  &nbsp;&nbsp; WISH.IO</a>
    </ul>
      <ul class="right ">
        <li><a href="#">About</a></li>
        <%= link_to "Log In", new_user_session_path%>
        <%= link_to "Sign Up", new_user_registration_path%>
      </ul>
    </div>
  </nav>
</div>

<div class="parallax-container">
   <div class="parallax">
  <%= image_tag("Pisa.jpg", width: "1440") %>
   </div>
 </div>
 <div class="section white">
   <div class="row container" style="margin-left:5%">
     <h2 class="header">Online Shopping all in one place.</h2>
     <p class="grey-text text-darken-3 lighten-3">Parallax is so dope.</p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
   </div>
 </div>
 <div style="width:100%" class="parallax-container" >
   <div class="parallax" style="width:100%">
  <%= image_tag("Greece.jpg", width: "1440") %>

   </div>
 </div>
