<div class="container" >

<div class="navbar-fixed">
  <div class="nav-wrapper">
    <nav>

      <!-- Sidebar Navigation -->
      <ul id="slide-out" class="side-nav">
        <!-- Profile Info -->
        <li style = "background-image: url('/assets/Bird2.jpg'); background-repeat: none; background-size: 400px; height: 220px">

        </li>

        <!-- My List Button -->
        <li class="bold">
          <a href="/" class="waves-effect">My List
          </a>
        </li>

        <!-- Budget Button -->
        <li class="bold">
          <a href="#!" class="waves-effect">
            Budget
          </a>
        </li>

        <!-- Discover Button -->
        <li class="bold">
          <a href="#!" class="waves-effect">
            Discover
          </a>
        </li>

        <!-- Settings Button -->
        <li class="bold">
          <%= link_to "Settings", edit_user_registration_path%>
        </li>
      </ul>


      <!-- Show Sidebar Navigation Button -->
      <ul class="left" data-hover="true">
        <a href="#" data-activates="slide-out" class="button-collapse show-on-large" data-hover="true">
          <i class="material-icons">menu</i>
        </a>
      </ul>

     <!-- Javascript Animations -->
      <script>

        /* Sidebar Navigation Slide Out */
        $('.button-collapse').sideNav({
          menuWidth: 300,  // Default is 240
          closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
        });

        /* Collapsibles within the Sidebar Navigation */
        $('.collapsible').collapsible();

      </script>

      <!-- Menu Bar Navigation -->
      <ul id="nav-mobile" class="right">

        <!-- Notifications Dropdown -->
        <ul id="notifications-dropdown" class="dropdown-content">
          <li><a>Deals<span class="badge">##</span></a></li>
          <li><a>Supply<span class="badge">##</span></a></li>
          <li class="divider"></li>
          <li><a>History</a></li>
        </ul>

        <!-- Notifications Dropdown Trigger -->
        <a class = "dropdown-button" data-activates="notifications-dropdown" data-beloworigin="true" data-constrainwidth="false" data-hover="true" data-alignment="right">
          <i class="material-icons">notifications</i>
        </a>

        <!-- Account Dropdown -->
        <ul id="account-dropdown" class="dropdown-content">
          <li><a>Search</a></li>
          <li><a>Sort</a></li>
          <li><a>Card Size</a></li>
          <li><a>Night Mode</a></li>
          <li class="divider"></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete%></li>
        </ul>

        <!-- Account Dropdown Trigger -->
        <a class = "dropdown-button" data-activates="account-dropdown" data-beloworigin="true" data-constrainwidth="false" data-hover="true">
          <i class="material-icons">more_vert</i>
        </a>

      </ul>

    </nav>
  </div>

</div>
